svg {
    background-color: pink;
}

.bar {
    fill: navy
}

.bar:hover {
    fill: lightblue
}

#tooltip {
    position: absolute;
    background-color: aliceblue;
    padding: 20px;
    top: 320px;
    left: 60px;
    opacity: 0;
}

.tile {
    stroke: black;
    stroke-width: 0;
}

.tile:hover {
    stroke-width: 2;
}