/* svg {
    background-color: pink;
} */

.bar {
    fill: navy
}

.bar:hover {
    fill: lightblue
}

#tooltip {
    position: absolute;
    background-color: aliceblue;
    padding: 20px;
    opacity: 0;
}

.cell {
    stroke: black;
    stroke-width: 0;
}

.cell:hover {
    stroke-width: 2;
}

.label {
    font-size: 0.5rem;
}